> ## **Reason to create this Notebook**

I have created this notebook because I feel easy to wite code in jupyter notebook and after completing all the tasks I will write back in python file.

## **Importing Libraries**

In [1]:
import pandas as pd
from glob import glob

In [2]:
## First I am reading single CSV file
single_file_acc = pd.read_csv('../Raw/MetaMotion/A-bench-heavy2-rpe8_MetaWear_2019-01-11T16.10.08.270_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv')

In [3]:
single_file_acc.head(10)

,epoch (ms),time (01:00),elapsed (s),x-axis (g),y-axis (g),z-axis (g)
0,1547219408431,2019-01-11T16:10:08.431,0.00,0.010,0.964,-0.087
1,1547219408511,2019-01-11T16:10:08.511,0.08,0.000,0.961,-0.069
2,1547219408591,2019-01-11T16:10:08.591,0.16,0.001,0.974,-0.087
3,1547219408671,2019-01-11T16:10:08.671,0.24,-0.012,0.971,-0.084
4,1547219408751,2019-01-11T16:10:08.751,0.32,-0.013,0.954,-0.094
5,1547219408831,2019-01-11T16:10:08.831,0.40,-0.017,0.902,-0.108
6,1547219408911,2019-01-11T16:10:08.911,0.48,-0.025,0.855,-0.128
7,1547219408991,2019-01-11T16:10:08.991,0.56,-0.042,0.844,-0.139
8,1547219409071,2019-01-11T16:10:09.071,0.64,-0.049,0.875,-0.171
9,1547219409151,2019-01-11T16:10:09.151,0.72,-0.075,0.871,-0.139

In [4]:
single_file_gyro = pd.read_csv('../Raw/MetaMotion/A-bench-heavy2-rpe8_MetaWear_2019-01-11T16.10.08.270_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv')

In [5]:
single_file_gyro

,epoch (ms),time (01:00),elapsed (s),x-axis (deg/s),y-axis (deg/s),z-axis (deg/s)
0,1547219408351,2019-01-11T16:10:08.351,0.00,0.122,-5.488,-3.841
1,1547219408391,2019-01-11T16:10:08.391,0.04,2.195,-9.695,-0.610
2,1547219408431,2019-01-11T16:10:08.431,0.08,2.622,-8.110,-4.024
3,1547219408471,2019-01-11T16:10:08.471,0.12,1.951,-4.695,-4.634
4,1547219408511,2019-01-11T16:10:08.511,0.16,1.524,-2.561,-2.500
...,...,...,...,...,...,...
409,1547219424711,2019-01-11T16:10:24.711,16.36,2.195,-1.402,4.268
410,1547219424751,2019-01-11T16:10:24.751,16.40,4.451,-1.220,0.244
411,1547219424791,2019-01-11T16:10:24.791,16.44,7.195,-4.329,6.524
412,1547219424831,2019-01-11T16:10:24.831,16.48,8.963,-1.037,-0.366
413,1547219424871,2019-01-11T16:10:24.871,16.52,-3.476,2.134,-5.305

In [6]:
files = glob('../Raw/MetaMotion/*.csv')

In [7]:
len(files)

187

---

### We are fetching three things from file path
1. Participant (A, B, C, D, E)
2. Label 
3. Category

In [8]:
data_path = '../Raw/MetaMotion\\'

In [9]:
f = files[0]

In [10]:
participant = f.split('-')[0]
participant= participant.replace(data_path, "")

In [11]:
participant

'A'

In [12]:
label = f.split('-')[1]

In [13]:
category = f.split('-')[2].rstrip('1234')

In [14]:
df = pd.read_csv(f)

In [15]:
df['Participant']  = participant
df['label'] = label
df['category'] = category

In [16]:
df

,epoch (ms),time (01:00),elapsed (s),x-axis (g),y-axis (g),z-axis (g),Participant,label,category
0,1547219408431,2019-01-11T16:10:08.431,0.00,0.010,0.964,-0.087,A,bench,heavy
1,1547219408511,2019-01-11T16:10:08.511,0.08,0.000,0.961,-0.069,A,bench,heavy
2,1547219408591,2019-01-11T16:10:08.591,0.16,0.001,0.974,-0.087,A,bench,heavy
3,1547219408671,2019-01-11T16:10:08.671,0.24,-0.012,0.971,-0.084,A,bench,heavy
4,1547219408751,2019-01-11T16:10:08.751,0.32,-0.013,0.954,-0.094,A,bench,heavy
...,...,...,...,...,...,...,...,...,...
201,1547219424511,2019-01-11T16:10:24.511,16.08,0.027,0.970,-0.091,A,bench,heavy
202,1547219424591,2019-01-11T16:10:24.591,16.16,0.010,0.990,-0.068,A,bench,heavy
203,1547219424671,2019-01-11T16:10:24.671,16.24,0.011,0.978,-0.091,A,bench,heavy
204,1547219424751,2019-01-11T16:10:24.751,16.32,0.008,0.937,-0.085,A,bench,heavy
205,1547219424831,2019-01-11T16:10:24.831,16.40,0.021,0.966,-0.108,A,bench,heavy

In [17]:
acc_df = pd.DataFrame()
gyro_df = pd.DataFrame()

In [18]:
acc_set = 1
gyro_set = 1

In [19]:
for file in files:
    participant = file.split('-')[0]
    participant= participant.replace(data_path, "")
    label = file.split('-')[1]
    category = file.split('-')[2].rstrip('123').rstrip('2_MetaWear_2019')
    df = pd.read_csv(file)
    df['Participant']  = participant
    df['label'] = label
    df['category'] = category 
    if 'Accelerometer' in file:
        df['set'] = acc_set
        acc_set += 1
        acc_df = pd.concat([acc_df, df])
    if 'Gyroscope' in file:
        df['set'] = gyro_set
        gyro_set += 1
        gyro_df = pd.concat([gyro_df, df])

In [20]:
acc_df

,epoch (ms),time (01:00),elapsed (s),x-axis (g),y-axis (g),z-axis (g),Participant,label,category,set
0,1547219408431,2019-01-11T16:10:08.431,0.00,0.010,0.964,-0.087,A,bench,heavy,1
1,1547219408511,2019-01-11T16:10:08.511,0.08,0.000,0.961,-0.069,A,bench,heavy,1
2,1547219408591,2019-01-11T16:10:08.591,0.16,0.001,0.974,-0.087,A,bench,heavy,1
3,1547219408671,2019-01-11T16:10:08.671,0.24,-0.012,0.971,-0.084,A,bench,heavy,1
4,1547219408751,2019-01-11T16:10:08.751,0.32,-0.013,0.954,-0.094,A,bench,heavy,1
...,...,...,...,...,...,...,...,...,...,...
237,1547666063089,2019-01-16 20:14:23.089,18.96,0.012,0.596,0.815,E,squat,heavy,94
238,1547666063169,2019-01-16 20:14:23.169,19.04,0.009,0.528,0.821,E,squat,heavy,94
239,1547666063249,2019-01-16 20:14:23.249,19.12,0.015,0.554,0.746,E,squat,heavy,94
240,1547666063329,2019-01-16 20:14:23.329,19.20,0.006,0.574,0.824,E,squat,heavy,94
241,1547666063409,2019-01-16 20:14:23.409,19.28,0.015,0.588,0.826,E,squat,heavy,94

In [21]:
gyro_df

,epoch (ms),time (01:00),elapsed (s),x-axis (deg/s),y-axis (deg/s),z-axis (deg/s),Participant,label,category,set
0,1547219408351,2019-01-11T16:10:08.351,0.00,0.122,-5.488,-3.841,A,bench,heavy,1
1,1547219408391,2019-01-11T16:10:08.391,0.04,2.195,-9.695,-0.610,A,bench,heavy,1
2,1547219408431,2019-01-11T16:10:08.431,0.08,2.622,-8.110,-4.024,A,bench,heavy,1
3,1547219408471,2019-01-11T16:10:08.471,0.12,1.951,-4.695,-4.634,A,bench,heavy,1
4,1547219408511,2019-01-11T16:10:08.511,0.16,1.524,-2.561,-2.500,A,bench,heavy,1
...,...,...,...,...,...,...,...,...,...,...
487,1547666063314,2019-01-16 20:14:23.314,19.48,-1.707,-0.671,1.585,E,squat,heavy,93
488,1547666063354,2019-01-16 20:14:23.354,19.52,0.915,0.305,2.988,E,squat,heavy,93
489,1547666063394,2019-01-16 20:14:23.394,19.56,5.854,-2.561,1.463,E,squat,heavy,93
490,1547666063434,2019-01-16 20:14:23.434,19.60,4.268,0.549,-0.305,E,squat,heavy,93
491,1547666063474,2019-01-16 20:14:23.474,19.64,-1.098,1.768,-0.122,E,squat,heavy,93

### Saving the Processed Data into new folder

In [22]:
acc_df.to_csv('../Processed Data/Accelerometer.csv')
gyro_df.to_csv('../Processed Data/Gyroscope.csv')